*/__pycache__/
symk_ros/output.sas
symk_ros/sas_plan
symk_ros/sas_plan.*
symk_ros/builds/
symk_ros/misc/.tox/
symk_ros/misc/autodoc/downward-xmlrpc.secret

# CUDD
symk_ros/src/search/ext/cudd-3.0.0/autom4te.cache/
symk_ros/src/search/ext/cudd-3.0.0/Makefile.in
symk_ros/src/search/ext/cudd-3.0.0/aclocal.m4
symk_ros/src/search/ext/cudd-3.0.0/configure
symk_ros/src/search/ext/cudd-3.0.0/configure~
symk_ros/src/search/ext/cudd-3.0.0/config.h.in
symk_ros/src/search/ext/cudd-3.0.0/config.h.in~
